.App {
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F4FF;
  height: 100vw;
}

.footer {
  height: 0.1vw;
}

img {
  height: 65vw;
  width: 65vw;
}

h1 {
  font-size: 2.3vw;
}

p {
  font-size: 1.17vw;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: azure; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray; 
  border-radius: 70px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}